[submodule "Vendor/ActionBarSherlock"]
	path = Vendor/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Vendor/NumberPicker"]
	path = Vendor/NumberPicker
	url = https://github.com/mrn/numberpicker.git
[submodule "Vendor/FBLikeSlideoutNavigation"]
	path = Vendor/FBLikeSlideoutNavigation
	url = git://github.com/korovyansk/android-fb-like-slideout-navigation.git
[submodule "Vendor/AndroidMenudrawer"]
	path = Vendor/AndroidMenudrawer
	url = git://github.com/SimonVT/android-menudrawer.git
[submodule "Vendor/SlidingMenu"]
	path = Vendor/SlidingMenu
	url = git://github.com/jfeinstein10/SlidingMenu.git
[submodule "Vendor/ShowcaseView"]
	path = Vendor/ShowcaseView
	url = git://github.com/Espiandev/ShowcaseView.git
