.settings

#Android generated
bin
gen
lint.xml

#Eclipse
.settings
.checkstyle

#built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
R.java

#Api key files
Key.java
/WLANAudit/proguard
/WLANAudit/project.properties
/ActionBar/project.properties
/ActionBar/bin
/WLANAudit/local.properties